<button (click)="salvar()">Salvar</button><br>
<input type="file" (change)="enviarArquivo($event)"><br>
<button (click)="requisicaoErro()">Erro</button><br>

<p *ngIf="loading; else dados">
    Carregando...
</p>

<ng-template #dados>
    {{ dadosTempo | json }}
</ng-template>
