<input type="text" [(ngModel)]="item" (keyup.enter)="adicionar()" #input>
<button (click)="adicionar()">Adicionar</button>

<!-- <app-contador #contador></app-contador> -->

<app-lista *ngFor="let item of todoService.lista; let i = index;" [item]="item" [index]="i"></app-lista>

<!-- {{ pessoa.contato?.telefone }} -->
