<span (click)="selecionarBanner(0)">Banner 1</span>
<span (click)="selecionarBanner(1)">Banner 2</span>
<span (click)="selecionarBanner(2)">Banner 3</span>

<ng-template appComponentesDinamicos></ng-template>
