<p [appMarcaTexto]="'red'" [corLeave]="'green'" (mouseEvent)="mensagem($event)">diretiva works!</p>

<button (click)="aberto = true" class="botao">Mostrar menu</button>

<ul class="menu" *ngIf="aberto">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
</ul>
