
<label for="usuario">Usuario: </label>
<input type="text" id="usuario" [(ngModel)]="usuario">
<br>

<label for="senha">Senha: </label>
<input type="text" id="senha" [(ngModel)]="senha">
<br>

<button type="button" (click)="login()">Logar</button>

<p *ngIf="mensagemErro">Usuário ou senha inválidos</p>
