<router-outlet></router-outlet>

<!-- <button (click)="alerta()">Alerta</button>

<div *ngIf="loading">
    Carregando...
</div>

<tas-custom-input label="Input teste" id="teste" hint="Texto de ajuda"></tas-custom-input> -->
