<input type="text" [formControl]="input"> <br>
<ul *ngIf="input.invalid && (input.dirty || input.touched)">
    <li *ngIf="input.hasError('required')">Campo obrigatório</li>
    <li *ngIf="input.hasError('email')">Você deve informar um e-mail válido.</li>
</ul>

<button (click)="salvar()">Salvar</button>
