<form [formGroup]="form">
    <div>
        <app-custom-input label="Nome" formControlName="nome" id="nome"></app-custom-input>
        <ul *ngIf="controls.nome.invalid && (controls.nome.dirty || controls.nome.touched)">
            <li *ngIf="controls.nome.hasError('required')">Campo obrigatório</li>
            <li *ngIf="controls.nome.hasError('minlength')">Você deve informar ao menos dois caracteres.</li>
        </ul>
    </div>

    <div>
        <app-custom-input label="E-mail" formControlName="email" id="email"></app-custom-input>
        <ul *ngIf="controls.email.invalid && (controls.email.dirty || controls.email.touched)">
            <li *ngIf="controls.email.hasError('required')">Campo obrigatório</li>
            <li *ngIf="controls.email.hasError('email')">Você deve informar um e-mail válido.</li>
        </ul>
    </div>

    <div>
        <app-custom-input label="Idade" type="number" formControlName="idade" id="idade"></app-custom-input>
        <ul *ngIf="controls.idade.invalid && (controls.idade.dirty || controls.idade.touched)">
            <li *ngIf="controls.idade.hasError('required')">Campo obrigatório</li>
            <li *ngIf="controls.idade.hasError('min')">Você deve ter mais de 18 anos.</li>
        </ul>
    </div>

    <div>
        <label for="sexo">Sexo</label>
        <input type="text" id="sexo" formControlName="sexo"> <br>
        <ul *ngIf="controls.sexo.invalid && (controls.sexo.dirty || controls.sexo.touched)">
            <li *ngIf="controls.sexo.hasError('required')">Campo obrigatório</li>
            <li *ngIf="controls.sexo.hasError('sexo')">Você deve informar um sexo válido.</li>
        </ul>
    </div>

    <div>
        <input type="checkbox" id="temTelefone" formControlName="temTelefone">
        <label for="temTelefone">Tem telefone</label>
    </div>

    <div *ngIf="controls.temTelefone.value">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" formControlName="telefone"> <br>
        <ul *ngIf="controls.telefone.invalid && (controls.telefone.dirty || controls.telefone.touched)">
            <li *ngIf="controls.telefone.hasError('required')">Campo obrigatório</li>
        </ul>
    </div>
</form>

<button (click)="salvar()">Salvar</button>
