<nav>
    <ul>
        <li><a routerLink="/home/filho-dois" routerLinkActive="active">Filho dois</a></li>
        <li><a routerLink="/home/filho-um" routerLinkActive="active">Filho um</a></li>
        <li><a routerLink="/tempo" routerLinkActive="active">Tempo</a></li>
        <li><a routerLink="/componentes-dinamicos" routerLinkActive="active">Componentes dinâmicos</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
</nav>

<!-- <app-contador></app-contador> -->

<!-- <app-card>
    <app-contador titulo></app-contador>
    <p corpo>Texto</p>
</app-card> -->

<!-- <app-card-dois [titulo]="titulo" [corpo]="corpo" (changeNumero)="change($event)" *ngIf="mostraCard"></app-card-dois>

{{ numero }} -->

<!-- <app-todo></app-todo> -->

<!-- <app-diretiva></app-diretiva> -->

<!-- <app-tempo></app-tempo> -->

<!-- {{ hoje | date:'fullDate' }} <br>
{{ numeroPipe | number:'10.7-7' }} <br>
{{ numeroPipe | currency:'BRL':'symbol' }} <br>
{{ obj | json }} <br>
{{ titulo | uppercase }} <br>
{{ corpo | titlecase }} <br>
{{ hoje | relogio }} -->

<!-- <input type="text" [(ngModel)]="filtro">
<div *ngFor="let mes of meses | filtraArray:filtro">
    {{ mes }}
</div> -->

<!-- <app-formulario></app-formulario> -->

<app-formulario-completo></app-formulario-completo>

<router-outlet></router-outlet>
<!--<app-dashboard-line [version]="versionForThis" [listaDados]="chart01"></app-dashboard-line>-->
<!--<app-dashboard-base [version]="versionForThis" [listaDados]="chart02"></app-dashboard-base>-->
