Contador: {{ count }} <br>

<button (click)="incrementar()" *ngIf="count < 10">Incrementar</button><br>
<button (click)="decrementar()" *ngIf="count > 0">Decrementar</button><br>

<p *ngIf="count % 2 === 0">Par</p>
<p *ngIf="count % 2 === 1">Ímpar</p>

<p>{{ count % 2 === 0 ? 'Par' : 'Ímpar'}}</p>

<p *ngIf="count % 2 === 0; else impar">Par</p>
<ng-template #impar>
    <p>Ímpar</p>
</ng-template>

<!-- <input type="number" [(ngModel)]="count" (ngModelChange)='change()'><br> -->

<p *ngFor="let numero of tabuada; let i = index;">
    <ng-container *ngIf="count % 2 === 0">
        {{ count }} x {{ i + 1 }} = {{ numero }}
    </ng-container>
</p>
